//Those variables overrides amplify default colors

:root {
    --amplify-primary-color: var(--color-primary);
    --amplify-primary-tint: var(--color-primary);
    --amplify-primary-shade: var(--color-primary);
}
