// @import "~@blueprintjs/core/src/blueprint.scss";
// Define BlueprintJS theme + customization

@import "./colors";
@import "./base";
@import "./mixin";
// @import "./typography";
// @import "./typography-two";
@import "./blueprint-js/index";
@import "./amplify-overrides";

:root {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}
