@import "./colors";
@import "./variables";
:export {
  backgroundColor: $background-color;
  primaryColor: $color-primary;
  phoneScreen: $phone;
  tabletScreen: $tablet;
  desktopScreen: $desktop;
}
